<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt-avG8DXk7_vRNAx1EE33QFvO8mgeDlc</string>
	<key>GCM_SENDER_ID</key>
	<string>1044926733751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pmsn06.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pmsn-p06</string>
	<key>STORAGE_BUCKET</key>
	<string>pmsn-p06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044926733751:ios:f8159a0a30f45b9a6e5c32</string>
</dict>
</plist>